mixin estilos-head(estilos)
    link(rel="stylesheet", href="../css/"+estilos)

mixin estilos-head-responsive(estilosResponsive, screen) 
    link(rel="stylesheet", href="../css/"+estilosResponsive media="screen and (min-width:" +screen+"px)")

mixin button(contenido)
    button.button(class!=attributes.class)=contenido

mixin circle-icon(nameClass,srcImg, alt)
    div(class=nameClass)
        figure(class!=attributes.class)
            img(src="https://drive.google.com/uc?id="+srcImg, alt=alt)

mixin meal-menu(classDiv, nameProduct, descriptionProduct, contentButton, classButton)
    div(class=classDiv)
        h4.h4--dark=nameProduct
        p=descriptionProduct
        +button(contentButton)(class=classButton) 
